@header-height: 150px;
@accent-color: #636b46;
@background-color: #e9e7da;
@text-color: darken(#cda34f, 20%);
@font: 'Itim', sans-serif;

#myModal {
	display: none;
	width: 100%;
	height: 100%;
	
	.modal-content {
		margin: auto;
		display: block;
	    width: 100%;
	    max-width: 700px;
	}
}

body {
	background-image: url("background.jpg");
	background-size: cover;
	margin: 0;
}

#girl {
	width: 100%;
	height: auto;
	float: left;
	border-radius: 7%;
	box-shadow: 5px 5px 8px #696969;
}

.center {
	vertical-align: center;
	text-align: left;
	font-family: @font;
	font-size: 20px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

td {
	padding: 20px;
}


.header-text {
	background-color: rgba(255, 255, 255, .7);
	padding: 5px 20px;
	display: block;
	text-align: center;
	line-height: 40px;
	border-color: fade(@accent-color, 30%);
	border-width: 1px 0;
	border-style: solid;
	color: @text-color;
}

.header {
	text-decoration: none;
	display: block;
	background-image: url("photostrip.png");
	background-size: contain;
	height: @header-height;
	font-size: 45px;
	font-weight: bold;
	font-family: 'Itim', sans-serif;
	padding-top: @header-height / 3;
	
	&:hover {
		text-decoration: none;
	}
}

.display-hover {
	content: ".";
	position: absolute;
	top: -7px;
}


.tabs {
	text-align: center;
	
	a {
		font-size: 35px;
		font-family: @font;
		font-weight: bold;
		display: inline-block;
		color: #222;
		text-decoration: none;
		margin: 15px;
		text-align: center;
		transition: color .3s linear;
		position: relative;
		
		&:hover {
			text-decoration: none;
			color: @accent-color;
			&:before {
				left: -15px;
				.display-hover;
			}
			&:after {
				right: -15px;
				.display-hover;
			}
		}
	}
}

.container {
	font-family: @font;
	font-size: 18px;
	
	.add-photo-btn {
		margin-bottom: 30px;
	}
}

.panel {
	border: @accent-color solid 2px;
	border-radius: 5%;
	background: @background-color;
	float: left;
	width: 200px;
	height: 200px;
	border: 1px solid #8B4513;
	margin: 20px;
	position: relative;
	
	&:hover {
		text-decoration: none;
	}
	
	&:hover .delete {
		display:block;
		text-decoration: underline;
	}
	
	.delete {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	&:hover .edit-button {
		display:block;
	}
	
	.edit-button {
		display: none;
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	
	h4 {
		color: @accent-color;
		text-align: center;
		font-weight: bold;
	}
	
	p {
		color: @text-color;
		text-align: center;
	}
}

.thumbnail {
	position: relative;
	
	&:hover .delete-photo {
		display: block;
		text-decoration: underline;
	}
	
	.caption {
		text-align: center;
	}
	
	.delete-photo {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
}	

#add-album {
	display: none;
}

#add-photo {
	display: none;
}

.contacts {
	display: none;

	.map {
		height: 250px;
	}
	
	.contact-info {
		font-family: @font;
		font-size: 20px;
		margin-left: 30px;
	}
}

.text-content {
	color: #000;
}

.delete-all-photos {
	font-family: @font;
	margin-bottom: 30px;
}
